@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
  font-weight: bold; }

.index__gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto auto 0.5fr;
  grid-template-areas: "header header" "services services" "proyects proyects" "footer footer"; }

.pages__gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "headerPages headerPages" "sectionPages sectionPages" "footerPages footerPages"; }

body {
  background-color: #607d8b; }

.header__index {
  display: flex;
  justify-content: space-between;
  grid-area: menu; }

.headerOne {
  background: url(../images/headerimg.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "menu menu menu" ". . ." ". nombre ." ". . ."; }

.name {
  color: #ffff;
  text-align: center;
  font-weight: bolder;
  grid-area: nombre; }

.header__pages {
  display: flex;
  justify-content: space-between;
  height: 54px;
  grid-area: headerPages; }

.logo {
  margin-left: 30px;
  width: 180px; }

.menu {
  max-width: 600px;
  font-size: 20px; }
  .menu .menu__horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around; }
    .menu .menu__horizontal li a {
      display: block;
      padding: 15px 20px;
      color: white;
      text-decoration: none; }
  .menu .menu__horizontal li:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  .menu .menu__horizontal .menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5); }
  .menu .menu__horizontal li:hover .menu__vertical {
    display: block; }
  .menu .menu__horizontal li:hover .menu__vertical li:hover {
    background-color: black; }
  .menu .menu__horizontal li:hover .menu__vertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none; }

#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: url(../images/servicesimg.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  grid-area: services; }
  #services .card {
    background-color: transparent;
    color: #EEEEEE;
    text-align: center; }
    #services .card img {
      display: block;
      margin: auto; }

#proyects {
  background-color: #020001;
  grid-area: proyects;
  margin-bottom: 7%;
  height: auto; }
  #proyects .carousel-item {
    width: 100% !important; }
  #proyects .carousel-indicators {
    margin-bottom: -1.5rem; }
  #proyects a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    line-height: 100px;
    color: #EEEEEE;
    font-size: 20px;
    text-decoration: none; }

.about {
  height: auto;
  background-color: #020001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: sectionPages; }
  .about .about__text {
    padding: 50px; }
    .about .about__text h1 {
      color: #EEEEEE;
      font-size: 30px;
      font-weight: bold;
      display: flex;
      justify-content: left;
      width: 150px; }
    .about .about__text p {
      color: #EEEEEE;
      width: 85%;
      line-height: 25px; }
  .about .about__img {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 100px; }
    .about .about__img img {
      width: 420px; }

.services, .screenwriter, .filmmaker, .editor {
  height: 100vh;
  background-color: #020001;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: sectionPages; }
  .services img, .screenwriter img, .filmmaker img, .editor img {
    width: 200px; }
  .services .services__descriptions, .screenwriter .services__descriptions, .filmmaker .services__descriptions, .editor .services__descriptions {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .services .services__descriptions h1, .screenwriter .services__descriptions h1, .filmmaker .services__descriptions h1, .editor .services__descriptions h1 {
      color: #EEEEEE;
      font-size: 30px;
      font-weight: bold; }
    .services .services__descriptions p, .screenwriter .services__descriptions p, .filmmaker .services__descriptions p, .editor .services__descriptions p {
      color: #EEEEEE;
      line-height: 25px;
      text-align: justify;
      margin-top: 40px; }

.screenwriter {
  border: solid 1px #cfd8dc; }

.filmmaker {
  border: solid 1px #b0bec5; }

.editor {
  border: solid 1px #90a4ae; }

.contact {
  height: 100vh;
  background-color: #020001 !important;
  color: #EEEEEE;
  background: url(../images/op2.jpg) no-repeat;
  background-position: 50vh;
  background-attachment: fixed; }
  .contact .container {
    width: 30%;
    margin-left: 10%;
    padding-top: 50px; }
    .contact .container .contact-title h2 {
      font-size: 36px;
      margin-bottom: 15px;
      color: #EEEEEE; }
    .contact .container .contact-form input {
      width: 100%;
      padding: 20px;
      margin-bottom: 25px;
      border: 0;
      outline: none;
      border-radius: 5px;
      background: #f6f7f9; }
    .contact .container .contact-form textarea {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      background: #f6f7f9;
      outline: none; }
    .contact .container .contact-btn button {
      border: 1px solid #EEEEEE;
      padding: 5px 20px;
      font-size: 20px;
      border-radius: 5px;
      color: #EEEEEE;
      background-color: #020001; }

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca; }

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EEEEEE;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; }

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left; }

.text-flicker-out-glow {
  -webkit-animation: text-flicker-out-glow 2.5s linear both;
  animation: text-flicker-out-glow 2.5s linear both; }

@-webkit-keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  14% {
    opacity: 0;
    text-shadow: none; }
  14.9% {
    opacity: 0;
    text-shadow: none; }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  23% {
    opacity: 0;
    text-shadow: none; }
  24.9% {
    opacity: 0;
    text-shadow: none; }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  35% {
    opacity: 0;
    text-shadow: none; }
  39.9% {
    opacity: 0;
    text-shadow: none; }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  43% {
    opacity: 0;
    text-shadow: none; }
  44.9% {
    opacity: 0;
    text-shadow: none; }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55% {
    opacity: 0;
    text-shadow: none; }
  69.4% {
    opacity: 0;
    text-shadow: none; }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  70% {
    opacity: 0;
    text-shadow: none; }
  79.4% {
    opacity: 0;
    text-shadow: none; }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); }
  80% {
    opacity: 0;
    text-shadow: none; }
  89.8% {
    opacity: 0;
    text-shadow: none; }
  89.9% {
    opacity: 1;
    text-shadow: none; }
  90% {
    opacity: 0;
    text-shadow: none; }
  100% {
    opacity: 0; } }

@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  14% {
    opacity: 0;
    text-shadow: none; }
  14.9% {
    opacity: 0;
    text-shadow: none; }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  23% {
    opacity: 0;
    text-shadow: none; }
  24.9% {
    opacity: 0;
    text-shadow: none; }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  35% {
    opacity: 0;
    text-shadow: none; }
  39.9% {
    opacity: 0;
    text-shadow: none; }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  43% {
    opacity: 0;
    text-shadow: none; }
  44.9% {
    opacity: 0;
    text-shadow: none; }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55% {
    opacity: 0;
    text-shadow: none; }
  69.4% {
    opacity: 0;
    text-shadow: none; }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  70% {
    opacity: 0;
    text-shadow: none; }
  79.4% {
    opacity: 0;
    text-shadow: none; }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); }
  80% {
    opacity: 0;
    text-shadow: none; }
  89.8% {
    opacity: 0;
    text-shadow: none; }
  89.9% {
    opacity: 1;
    text-shadow: none; }
  90% {
    opacity: 0;
    text-shadow: none; }
  100% {
    opacity: 1; } }

.flicker-3 {
  -webkit-animation: flicker-3 2.5s linear infinite both;
  animation: flicker-3 2.5s linear infinite both; }

@-webkit-keyframes flicker-3 {
  0%,
  100% {
    opacity: 1; }
  32.98% {
    opacity: 1; }
  33% {
    opacity: 0; }
  34% {
    opacity: 0; }
  34.02% {
    opacity: 1; }
  34.98% {
    opacity: 1; }
  35% {
    opacity: 0; }
  35.9% {
    opacity: 0; }
  35.92% {
    opacity: 1; }
  38.98% {
    opacity: 1; }
  39% {
    opacity: 0; }
  39.8% {
    opacity: 0; }
  39.82% {
    opacity: 1; }
  83.98% {
    opacity: 1; }
  84% {
    opacity: 0; }
  84.9% {
    opacity: 0; }
  84.92% {
    opacity: 1; } }

@keyframes flicker-3 {
  0%,
  100% {
    opacity: 1; }
  32.98% {
    opacity: 1; }
  33% {
    opacity: 0; }
  34% {
    opacity: 0; }
  34.02% {
    opacity: 1; }
  34.98% {
    opacity: 1; }
  35% {
    opacity: 0; }
  35.9% {
    opacity: 0; }
  35.92% {
    opacity: 1; }
  38.98% {
    opacity: 1; }
  39% {
    opacity: 0; }
  39.8% {
    opacity: 0; }
  39.82% {
    opacity: 1; }
  83.98% {
    opacity: 1; }
  84% {
    opacity: 0; }
  84.9% {
    opacity: 0; }
  84.92% {
    opacity: 1; } }

.footer__socialmedia .scale-down-center:hover {
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); } }

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); } }

.rotate-center:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both; }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.footer {
  height: 70vh;
  background-color: #607d8b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: footer;
  color: #171a20; }
  .footer .footer__follow {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold; }
  .footer h3 {
    font-weight: bold; }
  .footer .footer__socialmedia img {
    width: 50px;
    margin-right: 20px; }

@media (max-width: 1320px) {
  .about {
    justify-content: space-between;
    align-items: center;
    height: auto;
    text-align: center; }
  .about__img {
    flex-wrap: wrap; } }

@media (max-width: 768px) {
  .contact .container {
    padding-top: 50px;
    width: 60%;
    margin: auto; }
    .contact .container .contact-title h2 {
      text-align: center; } }

@media (max-width: 700px) {
  /* INDEX + GENERAL*/
  .index__gridContainer {
    width: 100vw; }
  .header__index {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100vw; }
  .menu__horizontal {
    flex-direction: column;
    text-align: center;
    font-size: 15px; }
  ol, ul {
    padding-left: 0rem; }
  .header__pages {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: auto; }
  /* INDEX - PROYECTS */
  #proyects {
    height: auto; }
  .proyects__video {
    margin-top: 100px;
    flex-flow: column; }
  .proyects__video iframe {
    width: 50vw;
    height: 50vh; }
  .proyects__link {
    margin-top: 40px; }
  /* INDEX - SERVICES */
  #services {
    flex-direction: column;
    height: auto; }
  .servicios__card {
    margin-bottom: 5%;
    margin-top: 3%; }
  .card__img {
    width: 110px; }
  /* ABOUT */
  .about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: auto; }
  .about__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .about__img {
    display: flex;
    flex-flow: column wrap; }
  /* SERCIVES - SCREENWRITER, FILMMAKER, EDITOR */
  .services, .screenwriter, .filmmaker, .editor {
    height: auto;
    flex-direction: column; }
  .services img, .screenwriter img, .filmmaker img, .editor img {
    margin-top: 100px; }
  .services__descriptions {
    margin-top: 100px;
    margin-bottom: 100px; }
  .services__descriptions p {
    text-align: center;
    width: 150%; }
  /* CONTACT */
  .contact {
    justify-content: center;
    align-items: center; } }

@media (max-width: 320px) {
  /* INDEX + GENERAL*/
  .index__gridContainer {
    width: 100vw; }
  .header__index {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  .menu__horizontal {
    flex-direction: column;
    text-align: center;
    font-size: 15px; }
  .header__pages {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  /* INDEX - PROYECTS */
  #proyects {
    height: auto; }
  .proyects__link {
    margin-top: 40px; }
  /* INDEX - SERVICES */
  #services {
    flex-direction: column; }
  /* ABOUT */
  .about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: auto; }
  .about__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .about__img {
    display: flex;
    flex-flow: column wrap; }
  /* SERCIVES - SCREENWRITER, FILMMAKER, EDITOR */
  .services, .screenwriter, .filmmaker, .editor {
    height: auto;
    flex-direction: column; }
  .services img, .screenwriter img, .filmmaker img, .editor img {
    margin-top: 100px; }
  .services__descriptions {
    margin-top: 100px;
    margin-bottom: 100px; }
  .services__descriptions p {
    text-align: justify; }
  /* CONTACT */
  .contact {
    justify-content: center;
    align-items: center; } }

.screenwriter {
  border: solid 1px #cfd8dc; }

.filmmaker {
  border: solid 1px #b0bec5; }

.editor {
  border: solid 1px #90a4ae; }
