.header__index{
    background: url(../images/headerimg.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    grid-area: header;

    .logo{
        margin-left: 30px;
        width: 180px;
    }

    .menu{
        max-width: 600px;
        font-size: 20px;

        .menu__horizontal{
            list-style: none;
            display: flex;
            justify-content: space-around; 

            a{
                display: block;
                padding: 15px 20px;
                color:white;
                text-decoration: none; 

                &:hover{
                    background-color: rgba(0, 0, 0, 0.5);
                }

            }
        }
    }
}

.header__pages{
    display: flex;
    justify-content: space-between; 
    grid-area: headerPages;

    .logo{
        margin-left: 30px;
        width: 180px;
    }

    .menu{
        max-width: 600px;
        font-size: 20px;

        .menu__horizontal{
            list-style: none;
            display: flex;
            justify-content: space-around; 

            a{
                display: block;
                padding: 15px 20px;
                color:white;
                text-decoration: none; 
                
                &:hover{
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            
            
            .menu__vertical{
                position: absolute;
                display: none;
                list-style: none;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.5);

            li &:hover{
                background-color: black;
            }

            a{
                position: absolute;
                display: none;
                list-style: none;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        }
    }
}