@mixin flexible ($dis, $direction, $corte, $just, $align){
    display: $dis;
    flex-flow: $direction $corte;
    justify-content: $just;
    align-items: $align;
}



@media (max-width: 1320px) {

    .about{
      justify-content: space-between;
      align-items: center;
      height: auto;
      text-align: center;
    }
    .about__img{
      flex-wrap: wrap;
    }
  }


  
  @media (max-width: 700px) {
  
    /* INDEX + GENERAL*/
  
      .index__gridContainer{
          width: 100vw;
      }
                                            
      .header__index{
          @include flexible(flex, column, nowrap, center, center );
          max-width: 100vw;
      }
  

      .menu__horizontal{
        flex-direction: column;
        text-align: center;
        font-size: 15px;
        
      }
  
      ol, ul{
        padding-left: 0rem;
      }
      
      
      .header__pages{
          @include flexible(flex, column, nowrap, center, center);
          height: auto;
      }
  
      /* INDEX - PROYECTS */
  
      #proyects{
        height: auto;
      }
  
      .proyects__video{
        margin-top: 100px;
        flex-flow: column;
      }
  
      .proyects__video iframe{
          width: 50vw;
          height: 50vh;
      }
  
      .proyects__link{
        margin-top: 40px;
    } 
  
  
  
    /* INDEX - SERVICES */
  
    #services{
      flex-direction: column;
      height: auto;
    }
  
    .servicios__card{
      margin-bottom: 5%;
      margin-top: 3%;
    }
  
    .card__img{
      width: 110px;
    }
  
    /* ABOUT */
  
    .about{
        @include flexible(flex, row, nowrap,center , center);
      height: auto;
    }
    
    .about__text{
        @include flexible(flex, column, nowrap,center , center);
      text-align: center;
    }
  
    .about__img{
      display: flex;
      flex-flow: column wrap;
    }
  
    /* SERCIVES - SCREENWRITER, FILMMAKER, EDITOR */ 
  
    .services{
      height: auto;
      flex-direction: column;
    }
  
    .services img{
      margin-top: 100px;
    }
  
    .services__descriptions{
      margin-top: 100px;
      margin-bottom: 100px;
    }
  
    .services__descriptions p{
      text-align: center;
      width: 150%;
    }
  
    /* CONTACT */
  
    .contact{
      justify-content: center;
      align-items: center;
    }
  }
  
  @media (max-width: 320px){
     /* INDEX + GENERAL*/
  
  
     .index__gridContainer{
      width: 100vw;
  }
  
  .header__index{
      @include flexible(flex, column, nowrap, center, center);
  }
  
  .menu__horizontal{
    flex-direction: column;
    text-align: center;
    font-size: 15px;
  }
  
  .header__pages{
      @include flexible(flex, column, nowrap, center, center);
  }
  
  /* INDEX - PROYECTS */
  
  #proyects{
    height: auto;
  }
  
  
  .proyects__link{
    margin-top: 40px;
  }
  
  
  
  
  
  /* INDEX - SERVICES */
  
  #services{
  flex-direction: column;
  }
  
  /* ABOUT */
  
  .about{
    @include flexible(flex, row, nowrap, center, center);
  height: auto;
  }
  
  .about__text{
      @include flexible(flex, column, nowrap, center, center);
  text-align: center;
  }
  
  .about__img{
  display: flex;
  flex-flow: column wrap;
  }
  
  /* SERCIVES - SCREENWRITER, FILMMAKER, EDITOR */
  
  .services{
  height: auto;
  flex-direction: column;
  }
  
  .services img{
  margin-top: 100px;
  }
  
  .services__descriptions{
  margin-top: 100px;
  margin-bottom: 100px;
  }
  
  .services__descriptions p{
  text-align:justify;
  
  }
  
  /* CONTACT */
  
  .contact{
  justify-content: center;
  align-items: center;
  }
  }








