#services{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background: url(../images/servicesimg.jpeg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    grid-area: services;

    .card{
        background-color: transparent;
        color: map-get($map: $colorfont, $key: primary);
        text-align: center;

        img{
            display: block;
            margin: auto;
        }
    }
}



#proyects{
    background-color: $bgc;
    grid-area: proyects;
    margin-bottom: 7%;
    height: auto;

    .carousel-indicators{
        margin-bottom: -1.5rem
    }

    a{  
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        line-height: 100px;
        color: map-get($map: $colorfont, $key: primary );
        font-size: 20px;
        text-decoration: none;
    }
}

